{{!-- This modal is for update user info --}}
<div class="modal" id="add-notes" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Notes about this Article..</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <div class="modal-body">
                <ul id="allnotes"></ul>
                <form id="updateform">
                    <div class="form-group">
                        <p>Notes</p>
                        <textarea name="message" rows="4" cols="60" class="thoughts"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="savethisnote" type="button" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
